.update{
    overflow-x: hidden;
    background-color: #FDF5E6;
}

.update-heading{
    text-align: center;
    margin-top: 50px;
}
.update-heading-h{
    margin: 0 0 15px 0;
    font-size: 40px;
    font-family:Brodway;
}

.update-heading-h:hover{
    font-family:Brodway;
    color: rgb(51, 4, 107);
    text-shadow: -1px 1px 0 #41ba45,
          2px 2px 0 #f052e8,
         1px -1px 0 #42afac,
        -1px -1px 0 #c6c23f;

  transition: .1s, background-position 0s;
  font-family:Arial Black;
  font-weight: bolder;
  text-decoration: underline;
}

.update-form{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 20% 0 10%;
}

.update-form-first{
    margin-left: 15px;
    width: 40%;
}

.update-form-last{
    margin-left: 15px;
    width: 40%;
}

.update-form-email{
    
    margin-left: 15px;
    width: 40%;
}

.update-form-password{
    
    margin-left: 15px;
    width: 40%;
}
.update-form-cnfpassword{
    margin-left: 15px;
    margin-bottom:10px ;
    width: 40%;
}

.update-form-btn{
    margin: 50px 160px 110px;
    width: 35%;
}


